spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/msasca
    username: msasca
    password: msasca
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true